* {
    box-sizing: border-box;
  }

html{
    background: url(../../../resources/images/photo.avif) no-repeat center fixed;
    background-size: cover;
}
body{
background-color: #aaa;
color: white;
text-shadow: 2px 2px 4px #000000;
}

.row {
    display: flex;
  }
  
.column {
    flex: 50%;
    padding: 10px;
    height: 1S00px; 
  }

header, nav, div, aside, footer, section, article{
    border: 1px solid white;
    box-shadow: 5px 10px #888888;
  }

.head { grid-area: head; }
.nav { grid-area: nav; }
.section { grid-area: section; }
.article {grid-area: article}
.side { grid-area: side; }
.foot { grid-area: foot; }

.grid-container {
  display: grid;
  grid-template-areas:
    'head head head head head head'
    'nav nav nav nav nav nav'
    'section section section side side side'
    'article article article side side side'
    'foot foot foot foot foot foot';
  gap: 10px;
  
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}