.btn {
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Green */
  .success {
    border-color: #04AA6D;
    color: green;
   transition: background-color 1000ms;
  }
  
  .success:hover {
    background-color: #04AA6D;
    color: white;
    
  }
  
  /* Blue */
  .info {
    border-color: #2196F3;
    color: dodgerblue;
    transition: transform 2000ms;
  }
  
  .info:hover {
    background: rgb(30, 144, 255);
    color: white;
    transform: scale(2,3)
  }
  
  /* Orange */
  .warning {
    border-color: #ff9800;
    color: orange;
    transition:transform 2000ms;
  }
  
  .warning:hover {
    background: #ff9800;
    color: white;
    transform: rotate(360deg)
  }
  
  .container{
    display:flex;
    flex-wrap: wrap;    
  }
  button{
    margin: 10px;
}
div{
  justify-content:space-between;
}

